%footer.social-feeds
  .social
    %h1 CONNECT WITH US
    .line-break{style: "width: 120px; height: 3px;"}
    %a{:href => "#", :class => "fa fa-twitter-square"}
    %a{:href => "#", :class => "fa fa-facebook-square"}
    %a{:href => "#", :class => "fa fa-instagram"}
    %a{:href => "#", :class => "fa fa-google-plus-square"}
