%header#navbars
  #fake-container{style: "height: 49px;"}
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .login
        Login
      .register
        Register

  %nav.main-nav
%section.categories
  .categories-wrapper
    .row
      .col-md-2
        %i{class: "fa fa-desktop fa-4x"}
      .col-md-2
        %i{class: "fa fa-diamond fa-4x"}
      .col-md-2
        %i{class: "fa fa-laptop fa-4x"}
      .col-md-2
        %i{class: "fa fa-car fa-4x"}
      .col-md-2
        %i{class: "fa fa-bicycle fa-4x"}
      .col-md-2
        %i{class: "fa fa-gamepad fa-4x"}
    .row
      .col-md-2
        %i{class: "fa fa-futbol-o fa-4x"}
      .col-md-2
        %i{class: "fa fa-ticket fa-4x"}
      .col-md-2
        %i{class: "fa fa-book fa-4x"}
      .col-md-2
        %i{class: "fa fa-bed fa-4x"}
      .col-md-2
        %i{class: "fa fa-home fa-4x"}
      .col-md-2
        %i{class: "fa fa-shopping-cart fa-4x"}
%section.listings