%header
  %nav.top-nav
    .container
      .logo-wrapper
        = link_to listings_path, id: "logo-path" do
          .logo
      .links
        .login
          Login
        .register
          Register
        .posting
          Post Ad
  %nav.main-nav
    .container
%section.main
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h
  %p h

