%header
  %nav.top-nav
    = render 'topnav'
  %nav.main-nav
    = render 'mainnav'
  %section.campus-locations
    = render 'locations'
%section.listings
  .container
    %h1 LISTINGS
    .line-break{style: "width: 80px; height: 3px;"}
    .listings-wrapper
      .listings-menu
        %h2 Latest Ads
        %h2 Popular Ads
        %h2 Cheapest Ads
      .show-listings
        #listing-wrapper.transitions-enabled.infinite-scroll.clearfix
          - @listings.each do |listing|  
            .listing
              %h2
                = listing.title