@import "compass";
@import "compass/reset";

$main-dark-color: rgb(41, 41, 41);
$main-light-color: #F8F8F8;

@mixin bg-image($name, $bool) {
  @if $bool == "yes" {
    background: url("/images/#{$name}.png") no-repeat center center fixed;
  } @else if $bool == "no" {
    background: url("/images/#{$name}.png");
  }
  overflow: hidden;
}

@mixin padding-both-sides($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin center-div() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin no-focus($color) {
  input {
    opacity: 0.8;
    &:focus {
      opacity: 1;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: $color;
    }
  }
}

@mixin button-boxed($primary-color, $hover-color, $lh, $w, $h) {
  border: solid;
  width: $w;
  height: $h;
  line-height: $h - ($h * ($lh / 100));
  @include transition-duration(0.3s);
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
    opacity: 0.8;
    background-color: lighten($hover-color, 8%);
    border-color: lighten($hover-color, 8%);
  }
}