@import "compass";
@import "compass/reset";

$main-dark-color: rgb(41, 41, 41);
$main-dark-color-2: #555;
$main-light-color: #F8F8F8;
$main-orange-color: #FF9900;

@mixin bg-image($name, $bool) {
  @if $bool == "yes" {
    background: url("/images/#{$name}.png") no-repeat center center fixed;
  } @else if $bool == "no" {
    background: url("/images/#{$name}.png");
  }
  overflow: hidden;
}

@mixin padding-both-sides($padding) {
  padding-left: $padding !important;
  padding-right: $padding !important;
}

@mixin center-div() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin no-focus($color) {
  input {
    opacity: 0.8;
    &:focus {
      opacity: 1;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: $color;
    }
  }
}

@mixin button-boxed($lh, $w, $h) {
  border: solid;
  width: $w;
  height: $h;
  line-height: $h - ($h * ($lh / 100));
}

@mixin button-boxed-hover($text, $bg, $border) {
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $text;
    opacity: 0.9;
    background-color: $bg;
    border-color: $border;
  }
}

@mixin logo($width){
  .logo-wrapper, .logo {
      float: left;
      position: relative;
      z-index: 2;
      width: $width;
      height: $width / 2;  
  }
  .logo {
    @include bg-image("logo", "no");
    @include background-size(contain);
  }
}

@mixin nav-container-size($height){
  .container {
    height: $height;
    width: 80%;
  }
}