/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require 'masonry/transitions'
 *= require 'masonry/infinitescroll'
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";


body {
  font-family: 'Open Sans', sans-serif;
}

// Make animation visibile of hidden beforehand
.animated { visibility: visible !important; }

// button transitions
.login h3, .login input, .get-started {
  @include transition-duration(0.2s);
}

.container {
  @include padding-both-sides(0);
}

/////// WELCOME PAGE ///////
#welcome-wrapper {
  height: 100vh;
  #welcome-bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    @include opacity(0.7);
    @include bg-image("background", "yes");
    @include background-size(cover);
  }
  @include logo(300px);
}

// Welcome page typed messages
section.text-animation {
  height: 50vh;
  #welcome-sentences, #search-sentences {
    position: absolute;
    text-align: center;
    z-index: 3;
    display: inline-block;
    border: solid 2px $main-dark-color;
    @include opacity(0.7);
    background-color: $main-dark-color;
    height: 70px;
    line-height: 70px;
    color: $main-light-color;
    top: 35%;
    width: 55%;
    @include border-radius(1px);
    @include center-div;
    @include padding-both-sides(25px);
    @include no-focus(none);
    @include hover-pointer;
    #sentences, .typed-cursor {
      z-index: 3;
      font-size: 35px;
      font-weight: 600;
    }

    // Typed message search bar
    input {
      @include opacity(0.7);
      padding: none;
      width: 100%;
      text-align: center;
      background: none;
      border: none;
    }
  }
  .typed-cursor{
    display: none;
  }
}

// Welcome User login/ Get Started
section.user-auth {
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .login, .get-started {
    position: absolute;
    font-weight: 600;
    z-index: 3;
    text-align: center;
    width: 80%;
    bottom: 0.5%;
    @include center-div;
    @include no-focus($main-light-color);
  }
  .login { 
    h3 {
      @include center-div;
      @include border-radius(50px);
      @include button-boxed(20, 120px, 30px);
      @include button-boxed-hover($main-dark-color-2, $main-light-color, $main-light-color);
      color: $main-light-color;
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
    .input-group-addon {
      background-color: lighten($main-dark-color, 13%);
      color: darken($main-light-color, 3%);
      border-color: lighten($main-dark-color, 13%);
    }
    input {
      color: $main-light-color;
      background: none; 
    }
    input[type="submit"] {
      &:hover {
        background-color: lighten($main-dark-color, 3%);
        border-color: lighten($main-dark-color, 3%);  
      }
    }
  }
  .get-started {
    position: relative;
    color: $main-dark-color;
    background-color: rgba(255, 255, 255, 0.3);
    @include button-boxed(10, 130px, 50px);
    @include button-boxed-hover($main-light-color, $main-dark-color, $main-dark-color);
  }
}

/////// MAIN PAGES ///////

// top nav abar
nav.top-nav {
  background-color: $main-dark-color-2;
  @include nav-container-size(80px);
  .container {
    @include logo(250px);
    .logo-wrapper {
      padding-top: 17px;
    }
    .links {
      color: $main-light-color;
      padding-top: 10px;
      height: 80px;
      position: fixed;
      right: 10%;
      text-align: center;
      .login, .register {
        font-family: $pt-sans;
        font-weight: 700;
        @include transition-duration(0.2s);
        @include opacity(0.6);
        font-size: 0.9rem;
        color: $main-orange-color;
        border-bottom: 2px solid $main-dark-color-2;
        display: inline-block;
        padding: 3px;
        @include hover-pointer;
        &:hover {
          @include opacity(1);
          border-bottom: 2px solid $main-dark-color-2;
        }
      }
      .posting {
        font-family: $roboto;
        padding: 8px 0;
        background-color: $main-dark-color-2;
        border: 2px solid $main-light-color;
        display: block;
        margin-top: 5px;
        @include transition-duration(0.2s);
        &:hover {
          @include button-boxed-hover($main-dark-color-2, lighten($main-light-color, 30%), $main-dark-color-2)
        }
      }
    }
  }
}
// second nav bar
nav.main-nav {
  background-color: $main-light-color;
  @include box-shadow(lighten($main-dark-color-2, 40%) 0px 1px);
  @include nav-container-size(45px);
  .container {
    @include box-shadow($main-dark-color);
    .search-bar {
      @include no-focus($main-dark-color);
      input#q {
        padding-left: 15px;
        margin-left: 15px;
        width: 220px;
        border-left: 1px solid lighten($main-dark-color-2, 50%);
      }
      .select-group, .submit-group {
        width: 170px;
        color: lighten($main-dark-color-2, 10%);
        display: inline-block;
        border-right: 1px solid lighten($main-dark-color-2, 50%);
      }
      .submit-group {
        border: none;
        input {
          height: 43px;
        }
      }
      .selection {
        display: inline;
        i {
          margin-left: 3.5px;
        }
      }
      input, select {
        position: relative;
        border: none;
        font-family: $nunito;
        height: 45px;
        background-color: $main-light-color;
        border-right: 1px solid lighten($main-dark-color-2, 50%);
      }
      select {
        overflow: hidden;
        color: #aaa;
        height: 44px;
        width: 150px;
        @include appearance(none);
        outline: none;
        border-radius: 0px;
        padding-left: 5px;
        margin-left: -4px;
      }
      .select-group, select, input[type="submit"] {
        @include hover-pointer;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  ::-webkit-input-placeholder {
    @include search-input-ph
  }
  ::-moz-placeholder {
    @include search-input-ph
  } 
  :-ms-input-placeholder {
    @include search-input-ph
  }
}

.search-bar-scrolled {
  position: fixed;
  left: 0;
  top: 28px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

section.main {
  p {
    margin-bottom: 30px;
  }
}
