/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require 'masonry/transitions'
 *= require 'masonry/infinitescroll'
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";

body {
  font-family: 'Open Sans', sans-serif;
}

// Make animation visibile of hidden beforehand
.animated { visibility: visible !important; }

/////// WELCOME PAGE ///////
#welcome-wrapper {
  height: 100vh;
  #welcome-bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    @include opacity(0.7);
    @include bg-image("background", "yes");
    @include background-size(cover);
  }

  // Main logo
  .logo-wrapper, .logo {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 150px;  
  }
  .logo {
    @include bg-image("logo", "no");
    @include background-size(contain);
  }
}

// Welcome page typed out messages
section.text-animation {
  height: 30vh;
  #welcome-sentences, #search-sentences {
    position: absolute;
    text-align: center;
    z-index: 3;
    display: inline-block;
    border: solid 2px $main-dark-color;
    @include opacity(0.7);
    background-color: $main-dark-color;
    height: 70px;
    line-height: 70px;
    color: $main-light-color;
    top: 35%;
    width: 55%;
    @include border-radius(1px);
    @include center-div();
    @include padding-both-sides(25px);
    @include no-focus(none);
    #sentences, .typed-cursor {
      z-index: 3;
      font-size: 35px;
      font-weight: 600;
    }

    // Search bar on typed messages 
    input {
      @include opacity(0.7);
      padding: none;
      width: 100%;
      text-align: center;
      background: none;
      border: none;
    }
  }
  .typed-cursor{
    display: none;
  }
}

// Welcome User login/ Get Started
section.user-auth {
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .login, .get-started {
    position: absolute;
    font-weight: 600;
    z-index: 3;
    text-align: center;
    width: 80%;
    bottom: 0.5%;
    @include center-div();
    @include no-focus($main-light-color);
  }
  .login { 
    h3 {
      @include center-div();
      @include border-radius(50px);
      @include button-boxed($main-dark-color, $main-light-color, 20, 120px, 30px);
      color: $main-light-color;
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
    .input-group-addon {
      background-color: lighten($main-dark-color, 3%);
      color: darken($main-light-color, 3%);
      border-color: lighten($main-dark-color, 3%);
    }
    input {
      color: $main-light-color;
      background: none; 
    }
  }
  .get-started {
    position: relative;
    color: $main-dark-color;
    @include button-boxed($main-light-color, $main-dark-color, 10, 130px, 50px);
  }
}